{% load static %}
<style>
.nav{height:76px;width:100%;background:#fff;box-shadow:10px 0px 10px rgba(0,0,0,0.3);position:relative;z-index:2000;}
.nav ul{height:76px;width:990px;margin:0px auto;}
.nav ul li{display:inline-block;vertical-align:top;*display:inline;*zoom:1;height:76px;}
.nav ul li a.link{display:inline-block;vertical-align:top;*display:inline;*zoom:1;padding: 0px 24px;height:76px;line-height:76px;font-size: 18px;color:#444;font-family:Microsoft Yahei,黑体;font-weight:bold;position:relative;}
</style>
{% if message %}
    <div class="modal-dialog alert alert-warning">{{ message }}</div>
    <script>
        window.setTimeout("window.location='/users/login/'", 2000);
    </script>
{% elif not_for_this_app %}
    <div class="alert-warning">
        您的账号{{ request.session.nickname }}尚未在当前应用注册，可以输入一个只在这一应用生效的用户名：
        <form action="/life/register/" method="post">
            {% csrf_token %}
            <input type="hidden" name="u_id" value="{{ request.session.u_id }}">
            <label>在当前app的昵称:</label>
            <input type="text" name="mynickname" class="form-control">
            <input class="button btn-primary" type="submit" class="form-control">
            <a class="button btn-primary" href="/life/register">跳过，使用相同的昵称。</a>
            <a class="button btn-primary" href="/life/register">退出注册</a>

        </form>
    </div>
{% endif %}

<div class="nav" , align="center" style="position: fixed;background-color: orangered">
    <ul>
        <li><a href="/" class="link"><strong>主站</strong></a></li>
        <li><a href="/life/" class="link"><strong>首页</strong></a></li>
        <li><a href="/life/push/" class="link"><strong>发布</strong></a></li>
    </ul>
</div>

<audio id="music" src="{% static 'lifeandfun/bgm/bgm.mp3' %}" preload="auto" loop="loop"
       style="display: none"></audio>
<img src="{% static 'homep/assets/img/mcl.png' %}" id="mc" onclick="Play()" width="50px" height="50px" style="position:fixed;right: 5px;bottom: 5px"></i>
{#                <span>Music</span></a>#}
<script>
    function Play() {
        var dir = "{% static 'lifeandfun/images/' %}";
        var myAuto = document.getElementById("music");
        var mc = document.getElementById("mc");
        if (myAuto.paused) {
            mc.setAttribute('src', dir + 'mon.png');
            myAuto.play();
        } else {
            mc.setAttribute('src', dir + 'mcl.png');
            myAuto.pause();
        }
    }
</script>
<div style="height: 150px"></div>
